/* ==UserStyle==
@name         Flareboard Cyan Dark
@namespace    github.com/openstyles/stylus
@version      1.0.8
@description  Dark cyan theme for Flareboard site
@author       boredale
@homepageURL  https://codeberg.org/boredale/Flareboard-Cyan-Dark
@supportURL   https://codeberg.org/boredale/Flareboard-Cyan-Dark/issues
@updateURL    https://codeberg.org/boredale/Flareboard-Cyan-Dark/raw/branch/main/flareboard-cyan-dark.user.css
@license      CC-BY-SA-4.0
==/UserStyle== */

@-moz-document domain("flareboard.ru") {
    .createPost,
    .postTools,
    .lenta_tabs,
    .postArea,
    .dropdown .dropdown-menu li a,
    .dropdown [data-toggle="dropdown"],
    .comments,
    .dropdown-content a:hover,
    .userProfileInfo,
    .nav-toggle,
    .postTop,
    .dropDownMiniContent a,
    .accordion,
    .whiteBlock,
    .editPageBtn,
    .inputfile + label,
    header,
    .nav,
    .notifications_block,
    .search_result:hover,
    .info,
    .lastBoards,
    .myBoard,
    .themeMid,
    .themeBottom,
    .boardAbout,
    #toTop {
        background-color: #232323;
    }

    .profileAbout,
    .profileUserStats .profileUserStatsBtn,
    .BTNlike,
    .attachBtn,
    .grey,
    .name_of_page,
    p,
    .group label,
    .modal__title,
    .nav-toggle,
    .editPageBtn,
    .inputfile + label,
    .accordion,
    .whiteBlock,
    .panel,
    .nav-toggle::after,
    .notif_msg,
    .search_user_name,
    .lastBoardAbout,
    .userBoards,
    .is_follow,
    #toTop,
    .container-1 input#search {
        color: lightgray;
    }

    body,
    .modal,
    .notification:hover,
    .active_tab,
    .profileUserStats .profileUserStatsBtn:hover,
    .dropdown-content a,
    .dropDownMiniContent,
    .panel,
    .BTNlike,
    .ButtonUserHead,
    .ButtonB,
    .replyArea,
    .navMenu a:hover,
    .commentTop:hover,
    .search_result,
    .lastBoard:hover,
    .loginPage > div[class="info"] {
        background-color: #2b2b2c;
    }

    .info,
    .profileUserName,
    .themeHeader .themeName,
    .example-2 .btn-tertiary,
    .mainPostText,
    .subscribe_btn,
    .attachBtn:hover,
    textarea,
    .dropDownMiniContent a,
    .navName,
    .notificationDate:hover,
    .comment_text_notif,
    .info_row div a,
    .lastBoardName,
    .lastBoards p,
    .dateCreate,
    .themeName,
    .themeHide {
        color: white;
    }

    .categoriesHeader,
    .tab:hover,
    .themeInfo,
    .editPageBtn:hover,
    .dropDownMiniContent a:hover,
    .subscribe_btn,
    .ButtonA,
    .postTools button,
    #comments-form button {
        background-color: #00808b;
    }

    input:focus ~ label,
    input:valid ~ label,
    textarea:focus ~ label,
    textarea:valid ~ label,
    .example-2 .btn-tertiary:hover,
    .example-2 .btn-tertiary:focus,
    .BTNlike:hover,
    .isLike,
    .replyCommentBtn,
    .userLink {
        color: #0094a1;
    }

    .ButtonUserHead,
    .ButtonB,
    .BTNlike:hover,
    .isLike,
    .ButtonA,
    .postTools button,
    .subscribe_btn,
    #comments-form button {
        border: 1px solid #0094a1;
    }

    .ButtonA:hover,
    .dropDownUser:hover .headerUsername,
    .ButtonUserHead:hover,
    .subscribe_btn:hover,
    .ButtonB:hover,
    .postTools button:hover,
    .attachBtn:hover {
        background-color: #0094a1;
    }

    .inputSettings:hover,
    .inputSettings:focus,
    .inputSettings:active,
    .inputfile:focus + label,
    .inputfile + label:hover,
    .active,
    .accordion:hover,
    .notificationBlock:hover {
        background-color: #343435;
    }

    #logo,
    #logo_un,
    .login img,
    .logo_reg,
    .profileUserName img {
        filter: invert(100%);
    }

    .container-1 input#search:-moz-placeholder,
    .container-1 input#search::-moz-placeholder,
    .container-1 input#search:-ms-input-placeholder {
        color: lightgray;
    }

    .inputSettings,
    .container-1 input#search:hover,
    .container-1 input#search:focus,
    .container-1 input#search:active {
        background: #232323;
    }

    .dropdown [data-toggle="dropdown"]:hover,
    .dropdown .dropdown-menu li a:hover,
    .container-1 input#search {
        background: #2b2b2c;
    }

    .container-1 input#search:hover,
    .container-1 input#search:focus,
    .container-1 input#search:active {
        border: 2px solid #2b2b2c;
    }

    .loginTime .login,
    .reply_to_name,
    .clearAllNotif,
    .btnHideNotif {
        color: #00808b;
    }

    .active,
    .accordion:hover {
        border-bottom: 1px solid #232323;
    }

    a[href] {
        color: white !important;
    }

    a[class="link"],
    a[class="hideTextButton readmore-js-toggle"] {
        color: #55afdb !important;
    }

    header {
        -webkit-box-shadow: 0px 7px 12px 1px rgba(43, 43, 44, 1);
    }

    .profileUserAvatar,
    .navPhoto {
        border: 3px solid #0094a1;
    }

    textarea,
    .replyArea {
        border: 1px solid #232323;
    }

    .postTop:hover,
    .postTop,
    .info,
    .lastBoards {
        border: none;
    }

    .themeMid,
    .themeBottom,
    #toTop {
        border-radius: 5px;
    }

    .loginTime .time,
    .postHead,
    .mainPost,
    .lastBoards p {
        margin-top: 5px;
    }

    .mainPostText,
    .navMenu {
        margin-top: 10px;
    }

    .loginTime .time,
    .random_roll {
        color: lightcyan;
    }

    .avatar,
    .postBottom,
    .postTools {
        margin-right: 5px;
    }

    .avatar,
    .postBottom,
    .mainPostText,
    .postImg,
    .hideTextButton,
    .postTools,
    .replyCommentBtn {
        margin-left: 5px;
    }

    .postBottom,
    .postTools,
    .mainPostText {
        margin-bottom: 5px;
    }

    .dropDownMiniContent {
        padding: 2px;
    }

    .tab {
        padding: 7px;
    }

    .modal__cross {
        fill: lightgray;
    }

    .msg {
        color: coral;
    }

    .error {
        border: 1px solid coral;
    }

    .BTNlike {
        border: 1px solid lightgray;
    }

    .bar:before {
        background: #0094a1;
    }

    .tab {
        text-align: center;
        display: flex;
        align-items: center;
    }

    .notification img {
        filter: brightness(0) invert(100%);
    }

    .overlay.active {
        opacity: 0.95;
    }
}
